*.iml
.gradle/
.idea/
.kotlin/
local.properties
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# App build
app/build/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.venv/
.pytest_cache/
